.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.spli-container{
  display: flex;
  align-items: center;
  height: 100vh;
}

.login{
  flex-basis: 50%;
  height: 100%;
  background-color: #a9caff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register{
  flex-basis: 50%;
  height: 100%;
  background-color: #ff8c9b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box{
  background-color: #f0f0f0;
  padding: 20px;
  width: 460px;
  border-radius: 6px;
}

.form-box input, .form-box button{
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
  outline: 0;
  border: 1px solid #c2c2c2;
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
}

.form-box button{
  cursor: pointer;
  background-color: #000957;
  color: #fff;
  border: 0;
}